html {
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Oswald:700|Orbitron);

body {
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #FCEBCE;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
}

h1 {
	position: absolute;
	margin: 5px;
	color: black;
	float: left;
}

#head{
	float: left;
	height: 5%;
  width: 100%;
  opacity: 0.75;
}

#calculator {
  background: #3A4248;
  border-radius: 20px;
  padding: 15px;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}

#screen-container {
  background: #5E626D;
  border-radius: 10px;
  padding: 20px;
}

#screen {
  background: #958675;
  border: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  height: 17px;
  padding: 15px;
  width: 265px;
  z-index: 1;
}

.plotScreen {
  background: #958675;
  border: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  height: 265px;
  padding: 15px;
  width: 265px;
  z-index: 1;
  overflow: hidden;
}

#zero { 
	float: left;
  width: 225px;
}

#cancel {
  background: #B99D71;
  width: 147px;
}

#deleteIt {
	background: #B99D71;
}

#calc {
	background: #B99D71;
  height: 89px;
  float: right;
}

#button-container {
  padding: 30px 0 0 15px;
}

.buttons {
  overflow: hidden;
}

.buttons span {
  background: #798D9E;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 1px 0px #5E626D, 0px 5px 0px 0px #45637F;
  cursor: pointer;
  float: left;
  font-family: 'Oswald', sans-serif;
  width: 70px;
  height: 40px;
  margin: 0 7px 11px 0;
  line-height: 40px;
  text-align: center;
}

.buttons span:active {
  top: 3px;
  box-shadow: inset 0px 1px 0px #5E626D, 0px 2px 0px 0px #45637F;
}

.operator {
  font-size: 1.3em;
}


